/* Algemene opmaak */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    background-image: url('achtergrond.jpg');
    background-size: cover;
    color: white;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
}

/* Hoofdkoptekst */
h1 {
    font-size: 3em;
}

/* Hoofdsecties */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-section {
    flex-basis: 100%;
    padding: 20px;
}

.right-section {
    flex-basis: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Kolommen */
.column {
    flex-basis: 50%;
}

/* Artikelen */
.article {
    flex-basis: 45%;
    padding: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
